.wrapper {
  display: grid;
  place-items: center;
  height: 100vh;
}

.main {
  width: 1238px;
  height: 651px;
  display: flex;
  position: relative;

  .left {
    width: 565px;
    background-color: #f1f1f5;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;

    img {
      margin-top: 126.59px;
      margin-bottom: 32.05px;
    }

    p {
      font-size: 32px;
      font-weight: 600;
      line-height: 36px;
      letter-spacing: 0.10000000149011612px;
      margin: 0;
      text-align: center;
    }
  }

  .right {
    width: 100%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 122px 62.95px 126px 90.72px;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 3px -5px 44px 0px #cdcdd41a;

    .headline {
      font-size: 28px;
      font-weight: 600;
      line-height: 42px;
      max-width: 158.42px;
      letter-spacing: 0.11666660010814667px;
      margin-bottom: 16px;
    }

    .remember_me_section {
      display: flex;
      justify-content: space-between;
      margin-bottom: 50px;

      span {
        color: #045450;
      }

      p {
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        letter-spacing: 0.10000000149011612px;
        color: #127973;
      }
    }

    button {
      background-color: #045450;
      padding: 16px 0;
      width: 100%;
      border: none;
      color: #fafafb;
      font-size: 12px;
      font-weight: 600;
      line-height: 18px;
      cursor: pointer;
      border-radius: 8px;
      z-index: 10;
    }
  }
}

.formWrapper {
  z-index: 1000;
}
